h1 {
    font-family: "Raleway",sans-serif;
}

a {
    color: darkgreen;
}
s {
    color: gray;
}
mark {
    color: darkblue;
    background-color: pink;
}
h2 {
    font-family: "Raleway",sans-serif;
    text-align: left;
}
pre {
    font-family: monospace;
}
h3 {
    color:rgba(0, 0, 139, 0.8);

}
.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}
body {
    background-image: url("cross.png");
    background-color: #DCF5F5;
    font-family: "Noto Serif", serif;
}
#content {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 8px;
}
.blue {
    color: blue;
}
.fancy {
    font-family: cursive;
}
.red-border {
    border-style: solid;
    border-color: red;
}
hr {
    border-color: #CFDFE4;
}
.red-outline {
    outline-style: solid;
    outline-color: red;
}
.blue-border {
    border-style: solid;
    border-color: blue;
}
.div-red-border {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: red;
}
.div-blue-border {
    border-style: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: blue;
}
#innerdiv1 {
    background-color: yellow;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    height: 200px;
    width: 700px;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    text-align: right;
}
#innerdiv2 {
    background-color: yellow;
    margin: auto;
    padding: 12px;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    text-align: right;
}
#outerdiv1 {
    margin: 0px;
    padding: 0px;
    background-color: blue;
    border-style: solid;
    border-color: red;
}
#outerdiv2 {
    background-color: blue;
    margin-top: 20px;
    border-style: solid;
    border-color: red;
}
h4 {
    font-family: "Raleway",serif;
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;

}
blockquote {
    text-align: justify;
    font-family: "Raleway",serif;
    color: dimgray;
    line-height: 1.5;
    word-spacing: 0.2em;
}
.numberlist {
    list-style-type: decimal;
}
.romanlist {
    list-style-type: lower-roman;
}
.squarebullet {
    list-style-type: square;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}
.navli {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.navli:hover {
    background-color: lightgray;
    color: darkgrey;
}
table {
    width: 500px;
    border-collapse: collapse;
}
td {
    border-bottom-color: darkgrey;
    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.fancytable {
    background-color: white;
    color: black;
}
#fancytable2 {

    background-color: #f8f8f8;
    color: black;
}
#fancytablehead {
    text-align: left;
    color: white;
    background-color: darkslategrey;
    border-bottom: darkgrey;
}
th {
    background-color: palegoldenrod;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
#complextable {
    border: solid;
    border-color: black;
}
.complextabletd {
    border: 1px solid;
    border-color: darkgrey;
}
.content {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 8px;
    width: 600px;
}
#maindiv {
    margin: 0px auto;
    width: 600px;
}

#leftdiv {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 8px;
    margin: 10px auto;
    float: left;
    width: 150px;
    overflow: auto;
    height: 400px;
    padding: 10px;
    
}
#rightdiv {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 8px;
    margin-top: 10px;
    float: right;
    width: 420px;
    overflow: hidden;
    height: 400px;
    padding: 10px;
}
#redbox {
    border-style: solid;
    border-color: red;
    width: 1000px;
    height: 100px;
    margin-top: 100px;
    margin-left: 100px;
}