h1 {
    font-family: sans-serif;
}
p {
    font-family: serif;
}
a {
    color: darkgreen;
}
s {
    color: gray;
}
mark {
    color: darkblue;
    background-color: pink;
}
h2 {
    font-family: sans-serif;
    text-align: left;
}
pre {
    font-family: monospace;
}
h3 {
    color:rgba(0, 0, 139, 0.8);

}
.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}
body {
    background-color: #DCF5F5;
    background-image:url("cross.png");
    background-repeat: repeat;
}